<footer class="container">
  <div class="row">
    <article class="col l6 s12">
      <h5 class="center white-text">PlayeoSpain</h5>
      <p class="info-footer grey-text text-lighten-4">PlayeoSpain es un potente motor de búsqueda de playas de España que nos permite obtener información detallada de más de 3700 playas en función de las necesidades del usuario.</p>
      <p class="info-footer grey-text text-lighten-4">La aplicación web está elaborada en AngularJS y utiliza el Framework Materialize CSS para el diseño de la página.</p>
    </article>
    <article class="col l6 s12">
      <h5 class="center white-text">Datos extraidos de las siguiente fuentes</h5>
      <div class="col s12 m6">
      	<a href="http://www.magrama.gob.es/es/" target="blank">
      		<img src="img/ministerio.png" title="magrama" alt="magrama" width="260" height="56px" />
      	</a>
      </div>
      <div class="col s12 m6">
      	<a href="http://www.juntadeandalucia.es/medioambiente/site/rediam" target="blank">
					<img src="img/junta.png" title="rediam" alt="rediam" width="260" height="56px" />
				</a>
      </div>
    </article>
    <article class="col l6 s12">
      <h5 class="center white-text">Redes sociales</h5>
      <div class="col s12 m4 offset-m4">
        <a class="social-icon" href="https://www.linkedin.com/in/alejandro-mart%C3%ADn-molina-9078a08a" target="blank">
          <img src="img/social/linkedin.svg" title="Visita mi Linkedin" alt="Visita mi Linkedin" width="32px " />
        </a>
        <a class="social-icon" href="https://github.com/alemarmol" target="blank">
          <img src="img/social/github.svg" title="Visita mi GitHub" alt="Visita mi GitHub" width="32px " />
        </a>
        <a class="social-icon" href="http://codepen.io/alemarmol/#" target="blank">
          <img src="img/social/codepen.svg" title="Visita mi Codepen" alt="Visita mi Codepen" width="32px " />
        </a>
        <a class="social-icon" href="https://www.facebook.com/alejandro.martinmolina.501" target="blank">
          <img src="img/social/facebook.svg" title="Visita mi Facebook" alt="Visita mi Facebook" width="32px " />
        </a>
      </div>
    </article>
  </div>
</footer>
<div class="footer-copyright">
  <div class="info-footer container">
    Página elaborada por 
  	<a class="info-footer-final made brown-text text-lighten-3" href="https://www.linkedin.com/in/alejandro-mart%C3%ADn-molina-9078a08a">Alejandro Martín Molina</a>
  </div>
</div>